<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | Node.js</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/public/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <small>Insert the URL you want to shorten. </small><br>
    <small>When you visit <b style="color: orangered;">/api/shorturl/{short_url}</b>, you will be redirected to the original URL.</small>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.example.com/" required/>
            <input type="submit" value="SHORTEN URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/Gahbr" target="_blank">Gahbr</a></p>
    </footer>
  </body>
</html>
