<!doctype html>

<html>
  <head>
    <title>URL Shortener Microservice | Node.js</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicons/favicon-16x16.png"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="javascript:void(0);">
          <fieldset>
            <legend>YOUR SHORTENED URL:</legend>
            <label for="url_input"></label>
            <p id="short-url"></p>
            <button class="copyBtn" onclick="copyText()">
              Copy to clipboard!
            </button>
            <button class="copyBtn" onclick="window.location.href = '/'">
              Back to home
            </button>
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/Gahbr" target="_blank">Gahbr</a></p>
    </footer>
  </body>
</html>

<script>
  const baseUrl = "<%= baseUrl %>";
  const urlParams = new URLSearchParams(window.location.search);
  const shortUrl = urlParams.get("short");

  if (shortUrl) {
    document.getElementById("short-url").innerHTML =
      `<a href="${baseUrl}/${shortUrl}">${baseUrl}/${shortUrl}</a>`;
  } else {
    document.getElementById("short-url").textContent = "Not found";
  }
  function copyText() {
    var text = document.getElementById("short-url").textContent;
    navigator.clipboard.writeText(text);
    text.select();
    text.setSelectionRange(0, 99999); // For mobile devices

    navigator.clipboard.writeText(text.value);

    console.log("Copied the text: " + text.value);
  }
</script>
